.header {
  height: 100vh;
  background-size: 100% 100%;
  background-image: url("/zh-an/assets/img/banner2.jpg");
  position: relative;
}

.header .logo-banner {
  position: absolute;
  bottom: 25%;
  right: 20%;
}

@media screen and (max-width: 1200px) {
  .header .logo-banner {
    display: none;
  }
}

.header .logo-banner img {
  width: 75%;
}

.header .fixed {
  position: fixed;
  width: 100%;
  background: #ffffff;
  padding: 10px;
  -webkit-box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.15);
  z-index: 999;
}

@media screen and (min-width: 1200px) {
  .header .fixed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header .fixed .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
}

@media screen and (min-width: 1200px) and (max-width: 1599px) {
  .header .fixed .nav {
    width: 85%;
  }
}

@media screen and (max-width: 1200px) {
  .header .fixed .nav {
    display: none;
  }
}

.header .fixed .nav .logo {
  width: 175px;
  max-height: 95px;
}

.header .fixed .nav li {
  position: relative;
}

.header .fixed .nav li .nav-text {
  padding: 5px;
  font-size: 26px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  color: black;
  letter-spacing: 3px;
  text-decoration: none;
  text-shadow: 1px 1px 2px black;
  line-height: 0;
  border-bottom: 0px solid white;
  -webkit-transition: .2s;
  transition: .2s;
}

.header .fixed .nav li .nav-text.active {
  color: lightskyblue;
}

@media screen and (max-width: 1600px) {
  .header .fixed .nav li .nav-text {
    font-size: 22px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1599px) {
  .header .fixed .nav li .nav-text {
    font-size: 18px;
  }
}

.header .fixed .nav li #line {
  width: 0px;
  height: 2px;
  border-radius: 5px;
  background-color: #fff;
  margin: 0 auto;
  position: absolute;
  bottom: -15px;
  left: 0px;
  right: 0px;
  -webkit-transition: width .2s linear;
  transition: width .2s linear;
}

.header .fixed .nav li:hover #line {
  width: 100%;
  background-color: #000000;
}

.header .fixed .mobile {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1201px) {
  .header .fixed .mobile {
    display: none;
  }
}

.header .fixed .mobile .hamburger-menu {
  background: none;
  border: none;
  display: inline-block;
}

.header .fixed .mobile .hamburger-menu .icon-bar {
  background-color: #000;
  display: block;
  height: 4px;
  margin: 0 auto 4px;
  width: 30px;
}

.header .fixed .mobile .logo-m {
  width: 150px;
}

.header .fixed .mobile .logo-m img {
  width: 100%;
}

.header .fixed .mobile .mobile-nav {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 94px;
  background-color: #fff;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .5s;
  transition: .5s;
  border-top: 0px solid #000;
}

.header .fixed .mobile .mobile-nav.active {
  opacity: 1;
  visibility: visible;
  -ms-touch-action: none;
      touch-action: none;
  border-top: 1px solid #000;
}

.header .fixed .mobile .mobile-nav li {
  margin: 25px;
  padding: 10px;
}

.header .fixed .mobile .mobile-nav li.active {
  background-color: lightskyblue;
}

.header .fixed .mobile .mobile-nav li .mobile-nav-text {
  letter-spacing: 3px;
  font-size: 26px;
  font-family: Times New Roman, Arial, sans-serif;
  text-shadow: 1px 1px 2px black;
  color: #000;
}

.content {
  width: 100%;
}

.content .content-1 {
  padding: 25px 25px 55px 25px;
  background-image: url("/zh-an/assets/img/bg.jpg");
}

.content .content-1 .news {
  margin: 0px auto;
  width: 80%;
}

.content .content-1 .news .news-items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content .content-1 .news .news-items .item {
  padding: 1%;
}

@media screen and (max-width: 1024px) {
  .content .content-1 .news .news-items .item {
    width: 40%;
  }
}

@media screen and (min-width: 1025px) {
  .content .content-1 .news .news-items .item {
    width: 20%;
  }
}

@media screen and (max-width: 500px) {
  .content .content-1 .news .news-items .item {
    width: 80%;
  }
}

.content .content-1 .news .news-items .item .item-img {
  text-align: center;
  width: 100%;
}

.content .content-1 .news .news-items .item .item-img img {
  border-radius: 50%;
  width: 100%;
  max-width: 350px;
}

.content .content-1 .news .news-items .item .item-img .no-radius {
  border-radius: 0;
}

.content .content-1 .news .news-items .item .item-content {
  text-align: center;
  margin: 15px auto;
  color: #ffffff;
  text-shadow: 1px 1px 2px black;
}

@media screen and (min-width: 1024px) {
  .content .content-1 .news .news-items .item .item-content {
    width: 60%;
  }
}

@media screen and (max-width: 1023px) {
  .content .content-1 .news .news-items .item .item-content {
    width: 100%;
  }
}

.content .content-2 {
  background-image: url("/zh-an/assets/img/bg.jpg");
  padding: 25px 25px 55px 25px;
}

.content .content-2 .news {
  width: 100%;
  margin: 25px 0px 25px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.content .content-2 .news .news-items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content .content-2 .news .news-items .item {
  padding: 0%;
  margin: 0px 20px;
}

@media screen and (max-width: 1024px) {
  .content .content-2 .news .news-items .item {
    width: 40%;
  }
}

@media screen and (min-width: 1025px) {
  .content .content-2 .news .news-items .item {
    width: 20%;
  }
}

@media screen and (max-width: 500px) {
  .content .content-2 .news .news-items .item {
    width: 80%;
  }
}

.content .content-2 .news .news-items .item .item-img {
  text-align: center;
}

.content .content-2 .news .news-items .item .item-img img {
  width: 100%;
  max-width: 350px;
}

.content .content-2 .news .news-items .item .item-img iframe {
  width: 100%;
}

@media screen and (min-width: 1440px) {
  .content .content-2 .news .news-items .item .item-img iframe {
    height: 240px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1440px) {
  .content .content-2 .news .news-items .item .item-img iframe {
    height: 200px;
  }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
  .content .content-2 .news .news-items .item .item-img iframe {
    height: 160px;
  }
}

@media screen and (min-width: 350px) and (max-width: 500px) {
  .content .content-2 .news .news-items .item .item-img iframe {
    height: 130px;
  }
}

.content .content-2 .news .news-items .item .item-content {
  text-align: center;
  margin: 15px auto;
  color: #ffffff;
  text-shadow: 1px 1px 2px black;
}

@media screen and (min-width: 1024px) {
  .content .content-2 .news .news-items .item .item-content {
    width: 60%;
  }
}

@media screen and (max-width: 1023px) {
  .content .content-2 .news .news-items .item .item-content {
    width: 100%;
  }
}

.content .content-2 .news .news-link {
  width: 100%;
  margin: 25px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content .content-2 .news .news-link .item {
  width: 33.333%;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1024px) {
  .content .content-2 .news .news-link .item {
    width: 50%;
  }
}

@media screen and (max-width: 549px) {
  .content .content-2 .news .news-link .item {
    width: 100%;
  }
}

.content .content-2 .news .news-link .item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  width: 320px;
  height: 100px;
  border-radius: 2%;
  -webkit-box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.15);
  color: #000;
  -webkit-transition: .5s;
  transition: .5s;
}

@media screen and (min-width: 1440px) {
  .content .content-2 .news .news-link .item a {
    width: 350px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .content .content-2 .news .news-link .item a {
    width: 300px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1278px) {
  .content .content-2 .news .news-link .item a {
    width: 230px;
  }
}

@media screen and (min-width: 550px) and (max-width: 770px) {
  .content .content-2 .news .news-link .item a {
    width: 230px;
  }
}

@media screen and (max-width: 375px) {
  .content .content-2 .news .news-link .item a {
    width: 250px;
  }
}

.content .content-2 .news .news-link .item a:hover {
  background-color: lightskyblue;
  color: white;
  text-decoration: none;
}

.footer {
  background-color: #FFE5CD;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: 1px;
}

@media screen and (max-width: 560px) {
  .footer {
    display: block;
    margin: auto;
  }
}

.footer .footer-item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 560px) {
  .footer .footer-item {
    width: 100%;
    margin-top: 75px;
  }
}

.footer .footer-item .footer-info {
  padding: 5px;
  font-size: 24px;
  font-family: Times New Roman, Arial, sans-serif;
  color: #fff;
  letter-spacing: 3px;
  text-shadow: 1px 1px 2px black;
}

@media screen and (max-width: 960px) {
  .footer .footer-item .footer-info {
    font-size: 16px;
  }
}

.footer .footer-item .footer-info li {
  margin-bottom: 15px;
}

.footer .footer-item .logo {
  max-width: 220px;
}

@media screen and (max-width: 560px) {
  .footer .footer-item .logo {
    display: none;
  }
}

.footer .footer-item .qrcode {
  display: inline;
  margin-left: 20px;
}

@media screen and (max-width: 960px) {
  .footer .footer-item .qrcode {
    display: none;
  }
}

.footer .footer-item .qrcode img {
  max-width: 120px;
}

.no-display {
  display: none;
}

.mg20 {
  margin: 20px;
}

.mg40 {
  margin: 40px;
}

h1 {
  padding: 15px;
  text-align: center;
  font-size: 60px;
  color: #ffffff;
  text-shadow: 1px 1px 2px black;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px #ccc solid;
}

.fs25 {
  font-size: 25px;
}

.border-radius5 {
  border-radius: 30px;
}

.pagination {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box {
  border-radius: 5px;
  margin-top: 1px;
  border: 1px solid black;
  padding: 5px;
  background-color: white;
  color: #428bca !important;
  text-shadow: none !important;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.box:hover {
  background-color: #428bca;
  color: white !important;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body {
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-carousel {
  padding: 35px 0px;
  position: relative;
  background-image: url("/zh-an/assets/img/bg.jpg");
}

.main-carousel .flickity-page-dots {
  bottom: 10px;
}

.main-carousel .carousel-cell {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("/zh-an/assets/img/bg.jpg");
}

.main-carousel .carousel-cell img {
  padding: auto;
  width: 80%;
  height: 400px;
}

@media screen and (min-width: 1660px) {
  .main-carousel .carousel-cell img {
    height: 500px;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1660px) {
  .main-carousel .carousel-cell img {
    height: 400px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .main-carousel .carousel-cell img {
    height: 350px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  .main-carousel .carousel-cell img {
    height: 300px;
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .main-carousel .carousel-cell img {
    height: 200px;
  }
}

@media screen and (max-width: 600px) {
  .main-carousel .carousel-cell img {
    height: 150px;
  }
}
/*# sourceMappingURL=style.css.map */